body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.text-orange{
    color: orange;
}
img{
    max-width: 100%;
}
h1{
    font-size:50px;
    font-weight: 500;
}
p{
    color: dimgrey;
}
a{
    text-decoration: none;
}
.btn-primary{
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 30px;
    border: 0;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
} 

section{
    display: flex;
    background-repeat: no-repeat;
    padding: 60px 0;
    overflow: hidden;

}

#intro-area{
    background-image: url(images/top-banner.png);
}

#dream-area{
    background-image: url(images/dream-bg.png);
    background-position: right;

}

#experience-area{
    background-image: url(images/exp-bg.png);
    background-position: left;
}
.section-title{
    opacity: .2;
    text-transform: uppercase;
}
.single-experience{
    background-color: #ffffff;
    padding: 35px;
    box-shadow: 0 0 40px #00000014;
    border-radius: 5px;

}
#ex-1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, tomato);
    border-image-slice: 1;
}
#ex-2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1
}
footer{
    text-align: center;
    margin-top: 50px;
}

@media (max-width:1000px) {
    h1{
        font-size: 40px;
    }
    img{
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }
    section{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .md-first{
        order: 2;
    }
    .half-width{
        margin: 0;
        width: 88%;
        padding: 6%;
    }
}